h1 {
    text-align: center;
    color: rgb(219, 4, 72)
}

.btn {
    text-align: center;
    margin-bottom: 30px;
}

#container {
    width: 600px;
    height: 600px;
    margin-left: 650px;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    z-index: 100;
    box-shadow:
        5px 5px 10px 0 rgba(0, 0, 0, 0.25),
        -5px -5px 20px 0 rgb(232, 222, 222);
    background: rgb(206, 224, 246);
    border-radius: 10px;
}

html {
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-255379.jpg&fm=jpg);
}